@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@inject IHtmlHelper<UsersModel> Html

@{
    ViewData["Title"] = "Home Page";
}

@model UsersModel


<div class="text-center">
    <header class="header">
        <a asp-controller="UserList" asp-action="Create">
            Добавить нового пользователя
        </a>

        <div>
            Страница  # @Model.PageCurrent из @Model.PageCount
        </div>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users.Any())
            {
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            <a href="/UserList/Change/@user.Id">@user.Id</a>
                        </td>
                        <td>@user.LastName</td>
                        <td>@user.FirstName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <footer class="home-footer">
        <a asp-action="Index" asp-route-page="@(Model.PageCurrent - 1 < 1 ? 1 : Model.PageCurrent - 1)">Назад</a>
        <a asp-action="Index" asp-route-page="@(Model.PageCurrent + 1 > Model.PageCount ? Model.PageCount : Model.PageCurrent + 1)">Вперед</a>
    </footer>
</div>