@model Tasks.Domain.Models.Tasks.TasksChangeModel

<h1 class="text-center">User change</h1>

<div class="text-center">
    <a asp-controller="/TaskList" asp-action="Index">Перейти ко всем задачам</a>
</div>

<form method="post" asp-controller="/TaskList" asp-action="Change">
    <input type="hidden" asp-for="Task.Id" value="@Model.Task.Id" />
    <input type="hidden" asp-for="Task.ContractorInitiatorId" value="@Model.Task.ContractorInitiatorId" />

    <div class="form-group">
        <label asp-for="Task.Subject">Subject</label>
        <input asp-for="Task.Subject" class="form-control" value="@Model.Task.Subject" required />
    </div>

    <div class="form-group">
        <label asp-for="Task.Description">Description</label>
        <textarea cols="50" rows="5" asp-for="Task.Description" class="form-control"
                  value="@Model.Task.Description" required></textarea>
    </div>

    <label asp-for="ContractorInitiator.ContractorId">ContractorId</label>
    <select asp-for="ContractorInitiator.ContractorId" class="form-control" required>
        @foreach (var id in Model.UserIds)
        {
            <!option value="@id" @(id == Model.ContractorInitiator.ContractorId ? "selected" : "")>@id</!option>
        }
    </select>


    <label asp-for="ContractorInitiator.InitiatorId">InitiatorId</label>
    <select asp-for="ContractorInitiator.InitiatorId" class="form-control" required>
        @foreach (var id in Model.UserIds)
        {
            <!option value="@id" @(id == Model.ContractorInitiator.InitiatorId ? "selected" : "")>@id</!option>
        }
    </select>

    <div class="form-group">
        <label asp-for="Task.ExpirationDate">ExpirationDate</label>
        <input asp-for="Task.ExpirationDate" class="form-control datepicker"
               type="datetime-local"
               value="@Model.Task.ExpirationDate.ToString("yyyy-MM-ddTHH:mm")" required />
    </div>

    <div class="text-center">
        <button type="submit" value="Submit" class="btn btn-primary mt-3 text-center">
            Внести изменения
        </button>
    </div>
</form>