@model Tasks.Domain.Models.Tasks.TasksChangeModel

<h1 class="text-center">Create a task</h1>

<div class="text-center">
    <a asp-controller="/TaskList" asp-action="Index">Перейти ко всем задачам</a>
</div>

<form method="post" asp-controller="/TaskList" asp-action="Create">
    <div class="form-group">
        <label asp-for="Task.Subject">Subject</label>
        <input asp-for="Task.Subject" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Task.Description">Description</label>
        <textarea cols="50" rows="5" asp-for="Task.Description" class="form-control" required></textarea>
    </div>

    <label asp-for="ContractorInitiator.ContractorId">ContractorId</label>
    <select asp-for="ContractorInitiator.ContractorId" class="form-control" required>
        @foreach (var id in Model.UserIds)
        {
            <!option value="@id">@id</!option>
        }
    </select>


    <label asp-for="ContractorInitiator.InitiatorId">InitiatorId</label>
    <select asp-for="ContractorInitiator.InitiatorId" class="form-control" required>
        @foreach (var id in Model.UserIds)
        {
            <!option value="@id">@id</!option>
        }
    </select>

    <div class="form-group">
        <label asp-for="Task.ExpirationDate">ExpirationDate</label>
        <input asp-for="Task.ExpirationDate" class="form-control datepicker"
               type="datetime-local"
               value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
    </div>

    <div class="text-center">
        <button type="submit" value="Submit" class="btn btn-primary mt-3">
            Создать задачу
        </button>
    </div>
</form>