@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@model TasksModel


<div class="text-center">
    <header class="header">
        <a asp-controller="TaskList" asp-action="Create">
            Добавить новую задачу
        </a>

        <div>
            Страница  # @Model.PageCurrent из @Model.PageCount
        </div>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Кто создал</th>
                <th>Кто выполняет</th>
                <th>Дата создания</th>
                <th>Дата окончания</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tasks.Any())
            {
                @foreach (var task in Model.Tasks)
                {
                    <tr>
                        <td>
                            <a href="/TaskList/Change/@task.Id">@task.Id</a>
                        </td>
                        <td>@task.Subject</td>
                        <td>@task.Description</td>
                        <td>@task.ContractorId</td>
                        <td>@task.InitiatorId</td>
                        <td>@task.CreatedDate.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@task.ExpirationDate.ToString("dd.MM.yyyy HH:mm")</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <footer class="home-footer">
        @if (Model.PageCurrent > 1)
        {
            <a asp-action="Index" asp-route-page="@(Model.PageCurrent - 1)">Назад</a>
        }

        @if (Model.PageCurrent < Model.PageCount)
        {
            <a asp-action="Index" asp-route-page="@(Model.PageCurrent + 1)">Вперед</a>
        }
    </footer>

    <div class="text-center mt-2">
        <a asp-controller="/" asp-action="Index">Перейти к пользователям</a>
    </div>
</div>