@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@model TasksModel


<div class="text-center">
    <header class="header">
        <a asp-controller="TaskList" asp-action="Create">
            Добавить новую задацу
        </a>

        <div>
            Страница  # @Model.PageCurrent из @Model.PageCount
        </div>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Кто создал</th>
                <th>Кто выполняет</th>
                <th>Дата создания</th>
                <th>Дата окончания</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tasks.Any())
            {
                @foreach (var task in Model.Tasks)
                {
                    <tr>
                        <td>
                            <a href="/TaskList/Change/@task.Id">@task.Id</a>
                        </td>
                        <td>@task.Subject</td>
                        <td>@task.Description</td>
                        <td>@task.ContractorId</td>
                        <td>@task.InitiatorId</td>
                        <td>@task.CreatedDate</td>
                        <td>@task.ExpirationDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <footer class="home-footer">
        <a asp-action="Index" asp-route-page="@(Model.PageCurrent - 1 < 1 ? 1 : Model.PageCurrent - 1)">Назад</a>
        <a asp-action="Index" asp-route-page="@(Model.PageCurrent + 1 > Model.PageCount ? Model.PageCount : Model.PageCurrent + 1)">Вперед</a>
    </footer>
</div>